@import '../../sass/variables';


.section {
 padding: 2em 8em;   

 @media (max-width: 768px)  {
    padding: 1em ;   
    justify-content: center;
   }    
}
.container {
display: flex;
justify-content: space-between;
@media (max-width: 768px)  {
   flex-direction: column;
   }   
}
.buy_btn {
margin-top: 10px;
background: $blue;    
border: none;
padding: 10px 40px;
color: #fff;
}
.description_container {
width: 80%;    
@media (max-width: 768px)  {
   width: auto;
    }   
.description {
    color: $gray;
}

}
